.login {
  padding: 50px 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../assets/images/login-bg.png) no-repeat;
    background-size: 100%;
    border-radius: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 536px;
    width: 90%;
    margin: 50px 0;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    &__label {
      display: flex;
      flex-direction: column;
      color: #70737c;
      font-size: 14px;
      line-height: 178%;
      width: 100%;
      margin-bottom: 20px;
    }

    &__name {
      display: flex;
      flex: 1;
      padding: 14px;
      border: 1px solid #efefef;
      border-radius: 5px;
    }

    &__password {
      display: flex;
      flex: 1;
      padding: 14px;
      border: 1px solid #efefef;
      border-radius: 5px;
    }
  }

  &__btn {
    max-width: 160px;
    background-color: #359740;
    padding: 14px 31px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
