@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Lexend", sans-serif;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0px 16px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

body {
  background: #fcfcfc;
}
